@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-display: swap;
    src: url('/src/assets/ProximaNova-Light-webfont.woff') format('woff');
}

@theme {
    --font-proxima:
        'ProximaNova', 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    --shadow-dark: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    --breakpoint-sm: 800px;
}

@utility container {
    padding-inline: 2rem;

    @variant sm {
        max-width: 1000px;
    }
}

button {
    cursor: pointer;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #333333;
}

::selection {
    background-color: #111111;
    color: #ffffff;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

html,
body,
#root {
    min-height: 100vh;
}

.blog {
    color: #333333;
    font-size: 20px;
    font-family: 'ProximaNova';
}

.blog pre {
    font-size: 1rem;
    margin-block: 1em;
}

.blog code {
    background-color: rgba(175, 184, 193, 0.2);
    font-family:
        ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas,
        'Liberation Mono', monospace;
    font-size: 18px;
    padding: 2px 4px;
    border-radius: 6px;
}

.blog a {
    color: #111111;
    cursor: pointer;
    text-decoration: underline;
}

.blog a:hover {
    color: #757575;
}

.blog ol {
    list-style: decimal;
}

.blog ul {
    list-style: disc;
}

.blog ul,
.blog ol {
    margin-block: 1em;
    padding-left: 4rem;
}

.blog h2 {
    font-size: 3rem;
}

.blog h3 {
    font-size: 2.5rem;
}

.mdxToolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
